/* body backround */
body{
    height: 100vh;
    background: linear-gradient(to bottom, #009688 20%, #DBDBD2 6%);
}
/* general */

img{
    width: 3.5rem; 
    height: 3.5rem;
    margin-left: 1rem;
    
    border-radius: 50%;

    object-fit: cover;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;
    background-color: #EAEAEA; 
    
}

.input-group-text{
    cursor: pointer;
}
.chat-tools{
    color: #B1B1B1;
    width: 20%;
    display: flex;
    justify-content: space-around;
    margin-right: 1rem;
}
/* font awsome icons style */

.fa-bell-slash{
    color: #fff;
    font-size: 35px;
}
/* app display aestetic */
.app-display{
    background-color: #fff;
    width: 80%;
    height: 95%;
    /* display */
    display: flex;
    box-shadow: 5px 10px 18px #4d4d52;
}
.contacts-nav{
    width: 30%;
    border-right: 0.5px solid black;
   
}
.chat-info{
    width: 70%;
    
}

.contact-info:hover {
    background-color: #E9EBEB;
    cursor: pointer;
}
/* right nav style */

.notifications{
height: 12%;
background-color: #8EDAFC ;
display: flex;
align-items: center;
justify-content: space-around;
}
.notification-text{
    font-size: 10px;
    margin-bottom: 0;
}
.deckstop-notification{
    color:#648EA9 ;
    text-decoration: underline;
}
.serch-contact{
    
    background-color: #FAFAFA;
}
.contacts{
    margin-top: 0.3rem;
    height: 72%;
    background-color: #fff;
    overflow-y: auto;
}
.contact-name{
    margin-left: 2rem;
}
    /*chat aestetic  */
.chat-window{
    height: 90%;
    
    
    display: flex;
    flex-direction: column;
    background-image: url(../img/mine.jpg);
}
.chat-footer{
    height: 12%;
    background-color: #F3EEEA;
    display: flex;
    align-items: center;
}

/* chat  */


.chat-container {
    flex: 1;
    overflow-y: auto;
}

.chat-message-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
}

.chat-message {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 1rem;
}

.me {
    align-self: flex-end;
    background-color: lightblue;
}

.friend {
    align-self: flex-start;
    background-color: lightgray;
}
