/* body backround */
body{
    height: 100vh;
    background: linear-gradient(to bottom, #009688 20%, #DBDBD2 6%);
}
/* general */

img{
    width: 4rem; 
    height: 4rem;
    margin-left: 1rem;
    margin-top: 1.5rem;
    border-radius: 50%;

    object-fit: cover;
}
/* app display aestetic */
.app-display{
    background-color: #fff;
    width: 80%;
    height: 95%;
    /* display */
    display: flex;

}
.contacts-nav{
    width: 30%;
    background-color: blue;
}
.chat-info{
    width: 70%;
    background-color: yellowgreen;
}
/* right nav style */
.right-nav-header{
    
    height: 10%;
    background-color:aquamarine;
}
.notifications{
height: 12%;
background-color: #8EDAFC ;
}
.serch-contact{
    
    background-color: #FAFAFA;
}
.contacts{
    margin-top: 0.3rem;
    height: 72%;
    background-color: blueviolet;
    overflow-y: auto;
}
.contact-name{
    margin-left: 2rem;
    
}
